:root {
  --border-bottom-color: rgb(128, 128, 128);
  --title-color: rgb(0, 0, 139);
  --second-title-color: rgb(265, 265, 265);
  --title-text-shadow: rgb(0, 0, 0, 0.5);
  --icon-color-github: rgb(78, 12, 78);
  --icon-color-instagram: rgb(141, 32, 141);
  --border-color-black: rgb(0,0,0);
  --background-color-darkblue: rgb(0, 0, 139);
  --cta-text-color: rgb(255, 255, 255);
  --cta-border-color: rgb(255, 255, 255);
  --submit-button-background-color: rgb(28, 173, 94);
}

html {
  scroll-padding-top: 230px;
  scroll-behavior: smooth;
}

.navbar {
  background-color: transparent;
  transition: background-color 0.5s ease;
  animation: fade-in 0.5s;
}

.title-color {
  color: var(--title-color);
}

.image-container {
  position: relative;
}
.image-container img {
  width: 100%;
  height: auto;
}
.text-center-overlay {
  position: absolute;
  top: 25%;
  letter-spacing: 0.1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: fade-in 1.8s;
}

.text-center-overlay-p {
  position: absolute;
  top: 30%;
  letter-spacing: 0.1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--second-title-color);
  animation: fade-in 2.5s;
}

.text-shadow {
  text-shadow: 1px 1px 2px var(--title-text-shadow); /* Lichte zwarte text-shadow */
}

.btn-hero {
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
}

.border-bottom {
  border-bottom: 1px solid var(--border-bottom-color);
}

.border {
  border: 2px solid var(--border-color-black);
}

.nav-top {
  text-align: center;
}

.service-card-space {
  height: 10px;
}

.btn-group a {
  margin: 10px;
}

.social-icon {
  font-size: 60px;
}

.icon-color-github {
  color: var(--icon-color-github);
}

.icon-color-instagram {
  color: var(--icon-color-instagram);
}

.letter-spacing {
  letter-spacing: 0.3rem;
}

.bg-darkblue {
  background-color: var(--background-color-darkblue);
}

.btn-cta {
  width: 160px;
  height: 40px;
  background-color: transparent;
  border: 2px solid var(--cta-border-color);
  color: var(--cta-text-color);
  font-weight: 500;
  border-radius: 3px;
}

.btn-cta:hover {
  width: 165px;
  height: 42px;
  transition: 0.2s;
  font-weight: 600;
}

.form-submit-btn {
  width: 140px;
  height: 38px;
  border-radius: 5px;
  background-color: var(--submit-button-background-color);
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}
