* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#bg-image {
  background-image: url(../img/room-2-second.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#tip-button {
  position: absolute;
  top: 5%;
  right: 5%;
  background: transparent;
  border: 1px solid whitesmoke;
  color: blue;
  border-radius: 10px;
  height: 50px;
  width: 120px;
  font-size: large;
  cursor: pointer;
}

#tip-button:hover {
  height: 55px;
  width: 130px;
}

#tip-button:active {
  border: 1px solid green;
  filter: drop-shadow(10px 10px 10px rgb(146, 9, 9));
}

#lock-1 {
  position: absolute;
  top: 84.5%;
  left: 13.5%;
  font-size: xx-large;
  height: 60px;
  width: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
}

#lock-2 {
  position: absolute;
  top: 83.8%;
  left: 25.75%;
  height: 60.5px;
  width: 43.5px;
  background: transparent;
  border: none;
  cursor: pointer;
}

#lock-3 {
  position: absolute;
  top: 69.3%;
  left: 8.1%;
  height: 58.8px;
  width: 43.5px;
  background: transparent;
  border: none;
  cursor: pointer;
}

#lock-4 {
  position: absolute;
  top: 53.9%;
  left: 13.5%;
  height: 60px;
  width: 43.7px;
  background: transparent;
  border: none;
  cursor: pointer;
}

#lock-5 {
  position: absolute;
  top: 43.55%;
  left: 25.8%;
  height: 61px;
  width: 43.5px;
  background: transparent;
  border: none;
  cursor: pointer;
}

#corpse {
  position: absolute;
  top: 70.24%;
  left: 14.8%;
  height: 86.2px;
  width: 138px;
  background: transparent;
  border: none;
  cursor: pointer;
}

#key {
  position: absolute;
  top: 91%;
  left: 59.3%;
  height: 35px;
  width: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
}

#key-on-desk {
  position: absolute;
  top: 61.4%;
  left: 44.5%;
  height: 40px;
  width: 41px;
  background: transparent;
  border: none;
  cursor: pointer;
}

#black-key-on-keychain {
  position: absolute;
  top: 66%;
  left: 70.8%;
  height: 20px;
  width: 44px;
  background: transparent;
  border: none;
  cursor: pointer;
  rotate: -220deg;
}

#golden-key-on-keychain {
  position: absolute;
  top: 65.6%;
  left: 72.8%;
  height: 52px;
  width: 13px;
  background: transparent;
  border: none;
  cursor: pointer;
  rotate: -150deg;
}

#blue-key-on-keychain {
  position: absolute;
  top: 66%;
  left: 74.2%;
  height: 62px;
  width: 13px;
  background: transparent;
  border: none;
  cursor: pointer;
}

#door-keypad {
  position: absolute;
  top: 57%;
  left: 95.75%;
  height: 88.5px;
  width: 71px;
  background: transparent;
  border: none;
  cursor: pointer;
}

#door-keypad:disabled {
  cursor: default;
}

#door {
  position: absolute;
  top: 47.8%;
  left: 80%;
  height: 511px;
  width: 292px;
  background: transparent;
  border: none;
  cursor: pointer;
}
