body {
    margin: 0;
    padding: 0;
}

.background {
    background-image: url(../img/Room-4.png); 
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

map {
    border: 1px solid red;
}
area {
    outline-color: white;
  }

.keys {
    top: 93%;
    left: 59.7%;
    width: 80px;
    height: 50px;
    position: absolute;
    z-index: 2;
    background: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }

  .kluis {
    top: 49%;
    left: 50.7%;
    width: 200px;
    height: 130px;
    position: absolute;
    z-index: 2;
    background: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    rotate: -7deg;
  }

.return {
    top: 0%;
    left: 0%;
    width: 1920px;
    height: 1080px;
    position: absolute;
    z-index: 2;
    background: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}