* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#bg-image {
    background-image: url(../img/start-room.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#story {
    position: absolute;
    color: whitesmoke;
    top: 23.7%;
    left: 8.5%;
    width: 500px;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

#play-button {
    position: absolute;
    top: 43%;
    left: 76%;
    background: transparent;
    font-size: xx-large;
    height: 60px;
    width: 300px;
    color: whitesmoke;
    border: 2px solid wheat;
    border-radius: 25px;
    filter: drop-shadow(10px 10px 10px rgb(202, 182, 182));
    color: crimson;
    transition: 0.1s;
}

#play-button:hover {
    height: 65px;
    width: 310px;
    filter: drop-shadow(10px 10px 10px rgb(19, 2, 96));
    box-shadow: 5px 10px rgb(0, 0, 0);
}

#play-button:active {
    filter: drop-shadow(10px 10px 10px rgb(4, 144, 191));
}



